h1 {
    width: 100%;
    height: 100px;
    text-align: center;
    font: 26px "Trebuchet MS","Myriad Pro", Arial, sans-serif;
    font-weight: 700;
}

.container {
    width: 100%;
    height: 100px;
    background: #ccc url(/img/tajnayavecherya.jpg) repeat;  
    background-position: top;
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: cover;
    
}